.about-content {
    color: rgb(233, 237, 24);
    background-color: white;
    padding-left: 15px;
    height:100vh;
    background-image: url('https://images.pexels.com/photos/2956143/pexels-photo-2956143.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9

}
.about-content h1 {
    text-align: center;
    padding-top: 100px;
}