* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: black;
}

.container {
    max-width: 1200px;
    padding: 10px 16px;
    margin: auto;
}

.nav {
    padding: 0 10px;
    color: whitesmoke;
}
/* home nav link */
a {
    text-decoration: none;
    color: whitesmoke;
}

.navImage {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(https://images.unsplash.com/photo-1531651750200-b2c2b3ddc876?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cmVjb3JkaW5nJTIwY29uc29sZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size: 55px;

}
.app {
    color: white
}